# Core
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Tuning
shap==0.45.0
optuna==3.6.1

# Utils
joblib==1.4.2
tqdm==4.66.4
pyyaml==6.0.1

# Notebooks 
ipykernel==6.29.4
jupyterlab==4.2.2
nbformat==5.10.4
jupytext==1.16.2
nbstripout==0.7.1  